.DS_STORE

node_modules/
dist/

src/config/mysql.ts
src/config/config.ts
src/functions/check/getLostarkServerStatus.ts
src/functions/utils/apiCheck.ts

.env
.env.local
.env.production
.env.development